
.top-container{
    background-color:  #EAF6F6; 
   
}
.bottom-cloud{
    position: absolute;
    left: 250px;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 28px;
}
.underline{
    text-decoration: underline;
}
body{
    text-align: center;
    color: #40514E;
}
h1{
    margin-top: 50px auto 0px auto;
    color: #66BFBF;
    font-size: 562.5%;
    font-family: 'Sacramento', cursive;
}
h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    font-weight: bold;
    color: #66BFBF;
}
p{
    font-family: 'Merriweather', serif;
}
.myprofile{
    padding: 10px;
    height: 180px;
    width: 180px;
    margin: 40px 0px 0px 0px;
}
h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#11999E;
}
.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}
.giphy{
    float: left;
    height: 50%;
    width: 50%;
}
.design{
    float: right;
}
.a{
    margin-bottom: 70px;
    color: #40514E;
    width: 30%;
    margin: auto;
}
hr{
   border: dotted #3fcaf5 6px;
   border-bottom: none;
   width: 4%;
   margin: 100px auto;
}
.bottom-container{
    background-color: #66BFBF;
    margin-top: 80px;
    height: 100px;
}
.footer-link{
    position: relative;
    margin-bottom: 30px;
}
.profile{
    margin-bottom: 70px;
}
.skills{
    margin-top: 70px;
}
.contact-message{
    width: 40%;
    margin: 40px auto;
}
.head2{
    margin-bottom: 60px;
}
.head1{
    margin-bottom: 40px;
    margin-top: 00px;
    padding-top: 100px;
}

.btn{
    border: 2px solid blue;
    text-decoration: none;
    background-color: darkblue;
    color: white;
    border-radius: 5px;
}
.btn:hover{
    background-color: lightblue;
    color: black;
}
